<h1 class='d-flex justify-content-center'>Images</h1>

<%=link_to "Add Image", new_image_path, class: 'btn btn-primary my-3'%>
<div class='image-cards'>
  <% @images.each do |image| %>
    <%= render :partial => 'image', locals: { image: image } %>
  <% end %>
</div>
