<h1 class='d-flex justify-content-center'>Images</h1>

<%=link_to "Add Image", new_image_path, class: 'btn btn-primary my-3'%>
<ul class='p-0'>
  <% @images.each do |image| %>
    <div class= 'd-flex align-items-center'>
      <%= image_tag(image.url, class: 'img-thumbnail p-2 m-1', style: 'max-width: 400px') %><br>
      <div class= 'd-flex flex-column'>
        <p class='m-2'> Tags: <%= raw image.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>
        <%= link_to "Delete", image_path(image),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: 'm-2' %>
      </div>
    </div>
  <% end %>
</ul>
