<%= image_tag(@image.url, class: 'img-thumbnail p-2 m-1', style: 'max-width: 400px') %>
<p><%= @image.tag_list.join(', ')%></p>
<%= button_to 'Delete Image', image_path(@image), method: :delete, data: {confirm: 'Are you sure you want to delete this image?'}, class: 'btn-sm btn-danger m-2'%>
<%=link_to "Return to Landing Page", images_path, class: 'btn btn-primary my-3'%><br>
